#ADD YOUR T212 API KEYS HERE.

#DEMO-API-KEY-ID
DEMO_API_KEY_ID=ADD_YOUR_T212_DEMO_API_KEY_HERE
#DEMO-SECRET
DEMO_SECRET=ADD_YOUR_T212_DEMO_SECRET_HERE

#LIVE-API-KEY-ID
LIVE_API_KEY_ID=ADD_YOUR_T212_LIVE_API_KEY_HERE
#LIVE-SECRET
LIVE_SECRET=ADD_YOUR_T212_LIVE_SECRET_HERE

#MODE [DEMO OR LIVE]
MODE=LIVE

#GEMINI API key
GEMINI_API_KEY=ADD_YOUR_GEMINI_API_KEY_HERE